{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="mt-4 row">
            <h1 class="text-center">{{ header }}</h1>
            <div class="col-md-5 d-flex justify-content-center align-items-center
             mx-auto mt-4">
                <form method="get" action="" class="form-inline text-center col-md-6">
                    <div class="form-group ml-3 ">
                        <label for="class">Фильтр по году:</label>
                        <select name="year" id="year" class="form-control">
                            <option value="" {% if not selected_year %}selected{% endif %}>Все года</option>
                            {% for year in years %}
                                <option value="{{ year }}"
                                        {% if selected_year == year %}selected{% endif %}>
                                    {{ year }} год
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group ml-3 mt-3">
                        <label for="class">Фильтр по классу:</label>
                        <select name="class" id="class" class="form-control">
                            <option value="" {% if not selected_class %}selected{% endif %}>Все классы</option>
                            {% for class in classes %}
                                <option value="{{ class }}"
                                        {% if selected_class == class %}selected{% endif %}>
                                    {{ class }} класс
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-4">Применить</button>
                </form>
            </div>
        </div>
        <ul class="list-group mt-3">
            {% for pagination in pagination.items %}
                <li class="list-group-item">
                    <div class="row align-items-center justify-content-center task-group">
                        <div class="col-md-2">
                            <img src="/static/images/v2/pdf.png" width="40%" class="pdf-ico" alt="иконка документа">
                        </div>
                        <a class="col-md-2 text-center"
                           href="{{ url_for('download', filename=pagination.pdf_file) }}">{{ pagination.title }}</a>
                        <p class="col-md-2 text-center">{{ pagination.teach_class }} класс</p>
                        <p class="col-md-2 text-center">Год публикации:<br>({{ pagination.publication_year }})</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="col-md-12">
                <div class="pagination">
                    {% if pagination.has_prev %}
                        <span>
                            <a class='page-number'
                               href="{{ url_for('list_tasks', page=pagination.prev_num, year=selected_year) }}">
                                {{ '<<<' }}
                            </a>
                        </span>
                    {% endif %}

                    {% for number in pagination.iter_pages() %}
                        {% if pagination.page != number %}
                            <span>
                                <a class='page-number'
                                   href="{{ url_for('list_tasks', page=number, year=selected_year) }}">
                                    {{ number }}
                                </a>
                            </span>
                        {% else %}
                            <span class='current-page-number'>{{ number }}</span>
                        {% endif %}
                    {% endfor %}

                    {% if pagination.has_next %}
                        <span>
                            <a class='page-number'
                               href="{{ url_for('list_tasks', page=pagination.next_num, year=selected_year) }}">
                                {{ '>>>' }}
                            </a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
