<footer class="footer mt-auto bg-body">
    <div class="container">
        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mt-4 py-4 border-top">
            <p>&copy; 2023. Все права защищены</p>
            <ul class="list-unstyled d-flex align-items-center">

                <li><a href="http://it.bgitu.ru/" target="_blank"><img width="48px"
                                                                       src="{{ url_for('static', filename='images/v2/bgitu_it_logo.png') }}"></a>
                </li>
                <li class="mx-3"><a href="http://bgitu.ru/" target="_blank"><img width="48px"
                                                                                 src="{{ url_for('static', filename='images/v2/bgitu_logo.png') }}"></a>
                </li>
                <li><a href="https://t.me/matembgitu" target="_blank"><img width="48px"
                                                                           src="{{ url_for('static', filename='images/v2/Bgitu-Math-Conference.png') }}"></a>
                </li>
                <li><a href="https://t.me/s/bgituofficial" target="_blank"><i style="font-size: 2.8rem;padding-left: 15px"
                                                                              class="bi bi-telegram"></i></a></li>

            </ul>
        </div>
    </div>
</footer>