{% extends "base.html" %}

{% block content %}
<!-- ========== Start Slider ========== -->
<div class="container">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true"
                      space-between="30" centered-slides="true" autoplay-delay="3500"
                      autoplay-disable-on-interaction="false"
                      loop="true">
        <swiper-slide><img src="{{url_for('static', filename='images/v2/slide_1.jpg')}}"/></swiper-slide>
        <swiper-slide><img src="{{url_for('static', filename='images/v2/slide_2.jpg')}}"/></swiper-slide>
        <swiper-slide><img src="{{url_for('static', filename='images/v2/slide_3.jpg')}}"/></swiper-slide>
        <swiper-slide><img src="{{url_for('static', filename='images/v2/slide_4.jpg')}}"/></swiper-slide>
        <swiper-slide><img src="{{url_for('static', filename='images/v2/slide_5.jpg')}}"/></swiper-slide>
    </swiper-container>
    <!-- ========== End Slider ========== -->

    <!-- ========== Start Agitation ========== -->
    <div class="agitation d-flex p-lg-4">
        <div class="d-flex flex-wrap my-4 mx-auto
        align-items-center justify-content-evenly
        px-4">
            <div class="agit__logo col-6 col-md-4">
                <img src="{{url_for('static', filename='images/v2/bgitu_it_logo.png')}}" alt="IT Bgitu Logo">
            </div>
            <div class="agit__info">
                <h2>Причины стать <br/>IT специалистом:</h2>
                <p class="m-0">IT - это круто и модно <br/>
                    Высокие заработные платы <br/>
                    Возможности для роста <br/>
                    Свободный выбор направления
                </p>
            </div>
        </div>
    </div>
    <!-- ========== End Agitation ========== -->
</div>

<!-- ========== Start Bgitu Welcome Video ========== -->
<div class="it-bgitu-welcome">
    <iframe src="https://www.youtube.com/embed/Vty3aRcsOz4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
</div>
<!-- ========== End Bgitu Welcome Video ========== -->
{% endblock %}