{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Загрузка задания в архив</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="class">Выберите класс:</label>
            <select name="class" id="class" class="form-control" required>
                <option value="9">9 класс</option>
                <option value="10">10 класс</option>
                <option value="11">11 класс</option>
            </select>
        </div>
        <div class="form-group my-2">
            <label for="task_name">Название задания:</label>
            <input type="text" name="task_name" id="task_name" directory="{{ DOWNLOAD_FOLDER_ARCHIVE }}"
                   class="form-control" required>
        </div>
        <div class="form-group col-md-3">
            <label for="pdf_file" class="form-label">Файл задания (PDF):</label>
            <input class="form-control" name="pdf_file" type="file" id="pdf_file" accept=".pdf" required>
        </div>
        <button type="submit" class="mt-3 btn btn-primary">Загрузить</button>
    </form>
</div>
{% endblock %}
